.headshot {
    width:30%;
    margin: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border:10px solid white
}
@media screen and (max-width:1224px) {
    .headshot {
        width:60%;
        margin-top: 5%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border:10px solid white
    }
  }
.ab-main {
    background-color: #283316;
    display: flex;
    width: 100%;
    min-height: 85%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.ab-text {
    width: 30%;
    margin-top: 5%;
}
@media screen and (max-width:1224px) {
    .ab-text {
        width: 80%;
        margin-bottom: 3%;
    }
  }
.ab-buttons {
    margin-top: 5%;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
TabPanel {
    display: flex;
    justify-content: space-between;
}