.experience-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #283316;
}

.experience-text {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experience-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
