.experience-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #283316;
    align-items: center;
}

.experience-text {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experience-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.experience-pics {
    width: 40%;
    object-fit: contain;
}