.tech-main {
    display: flex;
    width: 100%;
    min-height: 85%;
    justify-content: center;
    align-items: center;
    gap: 10%;
    flex-wrap: wrap-reverse;
}

.tech-text {
    display: flex;
    flex-direction: column;
    width: 30%;
}
@media screen and (max-width:1224px) {
    .tech-text {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}
.tech-text-item {
    display: flex;
    flex-shrink: 1;
}

.tech-buttons {
    margin-top: 5%;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ab-tech {
    flex-wrap: wrap;
}
